
td>.p-button.btnEdits {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	height: 30px;
	width: 30px;
}

td>.p-button.btnEdits:hover {
	background-color: rgb(233, 233, 233) !important;
	border: transparent;
}
