<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <ul class="nav">
                        <li class="scroll-to-section"><a (click)="redirectView('Home')" class="active">Home</a></li>
                        <li class="scroll-to-section"><a (click)="redirectView('ProductCatalog')" class="">Products</a></li>
                        <li class="scroll-to-section"><a (click)="redirectView('StoreCatalog')" class="">Stores</a></li>       

                        <li class="scroll-to-section"><a href="#explore">Login</a></li>
                   
                        <li class="submenu">
                            <img src="./assets/img/cart.png" id="img-carrito">
                            <div id="carrito">                          
                                <table id="list-articles" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of productsCart">
                                            <td>
                                                <img src="{{product.image}}" width="100">
                                            </td>
                                            <td>{{product.description}}</td>
                                            <td>{{product.price}}</td>
                                            <td>{{product.qty}}</td>
                                            <td>
                                                <a href="#" class="borrar-curso" (click)="fnDeleteProduct(product.idProduct)" > X </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="#" id="vaciar-carrito" class="button u-full-width" (click)="fnDeleteCart()">Vaciar Carrito</a>
                            </div>
                        </li>
                        
                    </ul>        
                </nav>
            </div>
        </div>
    </div>
</header>
